
.masthead {
  height: 13vh;
  min-height: 400px;
  background-image: url("../img/redbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 


.logo {
	padding-top: 35vh;
}

.about-page {
	margin-top: 10%;

}

.header {
	background-color: red;
	  height: 10vh;
  min-height: 400px;
}

 /*.bg-light {
    background-color: #ed1c24!important;
} */

body {
  font-family: "Lato", sans-serif;
}

 /* NAV */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}